@charset "UTF-8";

:root{
    --cor-terra: #5e3b12; /*Base de títulos e borda*/
    --cor-folha: #164629;/*Fundo e Blocos*/
    --cor-ouro: #a9b554; /*botôes e destaques*/
    --cor-ceu-suave: #a4becd;/*detalhes e leveza*/
    --cor-braco-luz: #f6fbfe; /*Fundo principal*/
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--cor-braco-luz);
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--cor-terra);
}
header{
    background-color: var(--cor-folha);        
    text-align: center;
    padding: 10px 20px;
    color: var(--cor-braco-luz);
        }
        
header img {
    max-width: 150px;
    display: block;
    margin: 0 auto 15px;
    
    /* EFEITO DE BRILHO */
    filter: drop-shadow(0 0 15px var(--cor-ouro));
    border-radius: 50%;
    transition: all 0.4s ease;
    position: relative;
}


header h1{
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0 0 0 0;
    
    /* EFEITO SUSTENTÁVEL */
    padding: 10px 20px;
    display: inline-block;
    border: 2px solid transparent;
    background: 
        linear-gradient(var(--cor-folha), var(--cor-folha)) padding-box,
        linear-gradient(45deg, var(--cor-ouro), var(--cor-ceu-suave)) border-box;
    border-radius: 10px;
}

.msg {
    max-width: 600px;
    margin: 10px auto;
    padding: 30px;
    background-color: var(--cor-braco-luz);
    border: 2px solid var(--cor-ouro);
    border-radius: 10px;
    text-align: center;
}
.msg h2{
    color: var(--cor-terra);
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.msg-texto {
    color: var(--cor-terra);
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}
.msg time{
    color: var(--cor-ceu-suave);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
    font-style: italic;
}

.video-section {
    max-width: 600px;
    margin: 30px auto;
    padding: 30px;
    background-color: var(--cor-braco-luz);
    border: 2px solid var(--cor-ouro);
    border-radius: 10px;
    text-align: center;
}

.video-section h2{
    color: var(--cor-terra);
    font-size: 2.5rem;
    margin-bottom: 0 4px 10px rgba(0, 0, 0, 2);
}

.video-section video{
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 4);
}
